
.page-container{
    background-image: url('https://i.postimg.cc/pLCywZfz/pexels-pixabay-159711.jpg');
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;  
    height: 100vh;

}

.hm-page-container{
    background-image: url('https://i.postimg.cc/pLCywZfz/pexels-pixabay-159711.jpg');
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100%;


}